---
const _currentYear = new Date().getFullYear();
---

<footer class="w-full max-w-6xl border-t border-gray-200 pt-8 pb-16 mt-24">
  <div class="flex flex-col md:flex-row justify-between items-center gap-4 px-4">
    <div class="text-sm text-gray-600">
      © {_currentYear}{' '}
      <a href="https://realhandy.tech" class="underline hover:no-underline">
        Real Handy
      </a>
      . All rights reserved.
    </div>
    <div class="flex gap-6 text-sm text-gray-600">
      <a href="https://github.com/real-handy/rafters" class="underline hover:no-underline">
        GitHub
      </a>
      <a href="/docs" class="underline hover:no-underline">
        Docs
      </a>
      <a href="/registry" class="underline hover:no-underline">
        Registry
      </a>
      <a href="/huh" class="underline hover:no-underline">
        Huh?
      </a>
      <a href="/llms.txt" class="underline hover:no-underline">
        LLMs
      </a>
      <a href="https://realhandy.tech" class="underline hover:no-underline">
        realhandy.tech
      </a>
    </div>
  </div>
</footer>