---
interface Props {
  title?: string;
  titleClasses?: string;
}

const { title, titleClasses = 'text-4xl leading-3 tracking-wide' } = Astro.props;
---

<header class="max-w-4xl w-full flex flex-col gap-4">
  <a href="/" class="mx-auto">
    <img src="/logo.svg" alt="Rafters" class="w-32 h-auto mb-16 fill-current" />
  </a>
  {title && <h1 class={titleClasses}>{title}</h1>}
</header>